<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 fixed-header">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <div class="logo-box text-white text-center me-3"><img src="../../assets/images/intellect logo.svg" height="40">
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="isCollapse = !isCollapse"
        data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-start" [class.show]="isCollapse" id="navbarNav">
        <ul class="navbar-nav ms-3">
            <li class="nav-item">
                <a class="nav-link custom-link" [class.active]="activeSection === 'home'" href="#home"
                    (click)="scrollToSection('home')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" [class.active]="activeSection === 'about-us'" href="#about-us"
                    (click)="scrollToSection('about-us')">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" [class.active]="activeSection === 'services'" href="#services"
                    (click)="scrollToSection('services')">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" [class.active]="activeSection === 'contact-us'" href="#contact-us"
                    (click)="scrollToSection('contact-us')">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>