<div class="footer-curve">
    <svg viewBox="0 0 1440 150" preserveAspectRatio="none">
        <path d="M0,0 C360,150 1080,150 1440,0 L1440,150 L0,150 Z" fill="#011339" />
    </svg>
</div>
<footer class="footer">
    <div class="footer-padding">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="footer-logo"><img src="../../assets/images/intellect logo.svg" height="40"></div>
                <div class="footer-contact">
                    <p>Call us: <span class="ms-3">+91-2156487895</span></p>
                    <div class="d-flex">
                        <p>Address:</p> <span style="font-size:14px" class="ms-3"> B - 502, Crystal Tower, Near Infinity
                            Mall,
                            Andheri West, Mumbai - 400053</span>
                    </div>
                    <p>Email: <span class="ms-4">{{'support@testcompany.com'}}</span></p>
                </div>
            </div>

            <div class="col-md-2 mb-4 mb-md-0">
                <h4 class="footer-heading">QUICK LINKS</h4>
                <ul class="footer-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="footer-heading">SERVICES</h4>
                <ul class="footer-links">
                    <li><a href="#services">Temporary / Contract Staffing</a></li>
                    <li><a href="#services">Temp-To-Hire</a></li>
                    <li><a href="#services">Consultation Services</a></li>
                    <li><a href="#services">Candidate Development</a></li>
                    <li><a href="#services">Staffing Expertise</a></li>
                    <li><a href="#services">Direct-Hire Placement</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4 class="footer-heading">CONNECT WITH US</h4>
                <div class="social-icons">
                    <!-- <img src="../../assets/images/facebook.svg">
                    <img src="../../assets/images/instagram.svg">
                    <img src="../../assets/images/google.svg"> -->
                    <img src="../../assets/images/linkedin.svg" class="linkedin-logo" (click)="goToLinkedin()">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="copyright pt-4 text-start">
                © 2025 Company Name. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>