<div class="bg-about-us main-padding pb-4">
    <div class="row pt-4 pb-5">
        <div class="col-md-3 about-main align-content-center">About Us</div>
        <div class="col-md-1 divider"></div>
        <div class="col-md-8 about-sub">At Intellect iSolutions, we specialize in connecting exceptional IT talent with
            innovative
            companies. As a fast-growing startup located in New Jersey and with a branch in Mumbai, we pride ourselves
            on our integrity and commitment to hiring the right candidates for our clients.</div>
    </div>
    <div class="row g-4">
        <div class="col-md-12">
            <div class="card about-cards">
                <div class="card-body py-4 row">
                    <div class="col-md-3 ps-0"><img class="responsive" src="../../assets/images/Ellipse 50.svg"></div>
                    <div class="col-md-9">
                        <div class="about-card-main">Our
                            <div class="about-card-sub">EXPERTISE</div>
                        </div>
                        <div class="about-card-text mt-3">
                            With a combined experience of over 34 years in the IT and human resources industries, our
                            founders bring a wealth of knowledge to the table. One of the founder has 22 years of
                            experience in Information Technology, understanding the technical nuances and skill
                            requirements of various roles. The other founder, with 12 years in human resources
                            specifically for the IT sector, ensures that we have a robust recruitment process tailored
                            to the unique demands of the industry.
                            With an extensive network of premier, experienced, diverse, and innovative candidates, we’re
                            equipped to meet your unique hiring needs. Our partner offices span the nation, ensuring
                            comprehensive coverage of all US locations and markets for technology positions.
                            We go beyond traditional staffing to offer a holistic, on-demand workforce model, addressing
                            every facet of your workforce needs. Our recruiters are experts in their field and have deep
                            experience in the industries they serve. They speak your language and know what the right
                            fit for your job opening looks like.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card about-cards">
                <div class="card-body py-4 row">
                    <div class="col-md-12">
                        <img src="../../assets/images/Ellipse 51.svg" class="vision-image responsive">
                        <div class="about-card-main">Our
                            <div class="about-card-sub">MISSION</div>
                        </div>
                        <div class="about-card-text mt-3">
                            Our mission is to be the leading IT recruitment consulting firm, ensuring that we deliver
                            genuine talent that not only meets our clients' needs but also fits into their corporate
                            culture. We believe that the right hire can make all the difference, and we strive to
                            facilitate meaningful connections between candidates and employers.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card about-cards h-100">
                <div class="card-body py-4 row">
                    <div class="col-md-12">
                        <div class="text-end">
                            <img src="../../assets/images/Ellipse 52.svg" class="bullseye-arrow-image responsive">
                        </div>
                        <div class="about-card-main">Our
                            <div class="about-card-sub">VISION</div>
                        </div>
                        <div class="about-card-text mt-3">
                            At Intellect iSolutions, we envision a world where companies thrive through the power of
                            exceptional talent. We aspire to lead the market by setting new standards in IT recruitment,
                            helping businesses grow by finding the perfect match for their teams.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card about-cards">
                <div class="card-body py-4 row">
                    <div class="col-md-10">
                        <div class="about-card-main">Our
                            <div class="about-card-sub">CORE VALUES</div>
                        </div>
                        <div class="about-card-text mt-3">
                            <ul>
                                <li><b class="me-1">Integrity:</b>We believe in honest and transparent communication,
                                    ensuring our
                                    clients and candidates feel valued and understood.</li>
                                <li><b class="me-1">Excellence:</b>We are delighted to providing top-notch services and
                                    building
                                    long-lasting relationships based on mutual success.</li>
                                <li><b class="me-1">Growth:</b>We define our success by our customers, consultants, and
                                    candidates'
                                    success. We believe that by developing our people into the best versions of
                                    themselves, they will exceed expectations in caring & driving a new world of
                                    opportunity for our customers, consultants, and candidates.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 ps-0 text-end"><img class="responsive handshake-image"
                            src="../../assets/images/Ellipse 53.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="about-main text-center mt-4">Why Choose Us?</div>
    </div>
    <div class="col-md-6">
        <img src="../../assets/images/img 1.svg" class="responsive sub-padding ps-10">
    </div>
    <div class="col-md-6 align-content-center bg-about-us1">
        <div class="row g-6 sub-padding">
            <div class="col-md-6 d-flex"><img src="../../assets/images/Experience & Reputation.svg" class="me-3">
                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Deep understanding of market dynamics make us a
                        reliable and trusted partner for temporary and contract staffing services.">Experience &
                    Reputation</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Excellent Candidate Support.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="We offer comprehensive support throughout the
                    hiring process, including resume assistance and interview preparation. This level of candidate
                    care enhances performance during the evaluation period, a key aspect of our role as a temporary
                    and contract recruiting firm.">Excellent Candidate
                    Support</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Quality of Candidates.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Our rigorous screening process ensures that only
                    the most qualified candidates are presented to employers. This meticulous approach,
                    characteristic of expert temporary and contract recruiters, significantly reduces the risk of
                    unsuccessful placements, saving time and resources.">Quality of
                    Candidates</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Local Market Expertise.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Our deep understanding of the local job market
                    gives us an edge over national or global recruiting firms. This local insight benefits job
                    seekers and employers, ensuring a more tailored approach in our direct-hire staffing firm
                    services.">Local Market
                    Expertise</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Customized Solutions.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Recognizing the uniqueness of each organization’s
                    needs, we provide tailored staffing solutions. This personalized approach, a hallmark of our
                    temporary and contract staffing services, sets us apart from other recruiting firms.">Customized
                    Solutions</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Personalized Approach.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Unlike larger firms, Burnett Specialists offers a
                    customized service, working closely with clients to understand their specific needs and
                    preferences. This customized approach enhances the effectiveness of our direct-hire placement
                    services.">Personalized
                    Approach</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 align-content-center bg-about-us2">
        <div class="row g-6 sub-padding ps-10">
            <div class="col-md-6 d-flex about-us-responsive"><img src="../../assets/images/Industry Knowledge.svg"
                    class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip"
                    matTooltip="Our recruiters possess extensive knowledge across
                    various sectors, enabling them to select the right candidate for each job. This expertise is
                    crucial in ensuring successful placements as a temporary and contract staffing placement agency.">Industry
                    Knowledge</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Highly Specialized & Tenured Recruiters.svg"
                    class="me-3">

                <span class="about-us-sub-text tooltip-container wrap-text-web" #tooltip="matTooltip" matTooltip="Our team of direct-hire recruiters are not only
                    experts in general recruitment but also possess specific knowledge across various sectors. This
                    expertise enables us to precisely understand and meet the unique needs of employers and job
                    seekers in fields ranging from engineering and IT to finance, sales, executive/management, HR,
                    and more.">Highly Specialized
                    & Tenured
                    Recruiters</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Ethics & Integrity.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Our employment agency is applauded for its high
                    ethical standards and integrity, as evidenced by our consistent recognition with the Pinnacle
                    Award and Excellence Awards from the Better Business Bureau. These values are fundamental in the
                    recruitment industry, emphasizing trust and confidentiality.">Ethics &
                    Integrity</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Comprehensive Services.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Beyond direct-hire placement, we offer a range of
                    services including payrolling, temp-to-hire solutions, and temporary staffing. This
                    comprehensive approach positions us as a versatile partner for various staffing needs across
                    different departments within organizations.">Comprehensive
                    Services</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/Flexibility & Scalability.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip" matTooltip="Our ability to handle staffing requirements of any
                    size, from individual placements to entire teams, makes us a versatile and preferred choice for
                    companies seeking scalable temp-to-hire staffing services.">Flexibility &
                    Scalability</span>
            </div>
            <div class="col-md-6 d-flex"><img src="../../assets/images/High Retention Rates.svg" class="me-3">

                <span class="about-us-sub-text tooltip-container" #tooltip="matTooltip"
                    matTooltip="Our focus on finding the right fit results in high
                    retention rates for our placements, benefiting employers seeking long-term, reliable employees.">High Retention
                    Rates</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-end">
        <img src="../../assets/images/img.svg" class="responsive sub-padding">
    </div>
</div>
<div class="bg-trusted-relationships py-5">
    <div class="main-content-trusted-relationships row sub-padding">
        <div class="col-md-4">
            <div class="about-main">Trusted<br>Relationships</div>
        </div>
        <div class="col-md-8 about-sub-1">
            We value deep, interpersonal relationships to enable collaboration and foster growth and development. We
            practice inclusion and unbiased empathy to ensure every person feels seen and heard, and no matter who you
            are,
            you can flourish.
        </div>
        <div class="d-flex justify-content-between row">
            <div class="col-md-6 card mt-5 trusted-relationship-card p-4">
                <div class="trusted-relationship-main">LONG-TERM COMMITMENT</div>
                <div class="trusted-relationship-sub-text mt-3">29+ years of running a profitable organization gives us
                    a
                    good
                    sense
                    of
                    challenges that a growing business faces. We take pride in running a sustainable business that’s
                    powered
                    by
                    you, our customer.</div>
            </div>
            <div class="col-md-6 card mt-5 trusted-relationship-card p-4">
                <div class="trusted-relationship-main">CUSTOMER-FIRST PHILOSOPHY</div>
                <div class="trusted-relationship-sub-text mt-3">In all these years, it's our customers' trust and
                    goodwill
                    that
                    has helped us establish a strong position in the market. No matter the size of your business, we're
                    here
                    to
                    help you grow.</div>
            </div>
        </div>
    </div>
</div>