<div class="main-padding mt-5">
    <div class="row gy-4">
        <div class="col-md-12">
            <div class="services-text text-center">Our Services</div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1.svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Temporary / Contract Staffing</div>
                    <div class="services-card-sub mt-2">Deep understanding of market dynamics make us a reliable and
                        trusted
                        partner for temporary and contract staffing services.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1 (2).svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Temp-To-Hire</div>
                    <div class="services-card-sub mt-2">Our temp-to-hire recruiters are experienced, dedicated, and
                        personally vested in your company’s success </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1 (1).svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Direct-Hire Placement</div>
                    <div class="services-card-sub mt-2">Our ability to consistently deliver high-quality direct-hire
                        placement services sets us apart in the staffing industry </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1 (3).svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Candidate Development</div>
                    <div class="services-card-sub mt-2">We offer training programs and resources to help you develop new
                        skills and advance in your career.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1 (4).svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Consultation Services</div>
                    <div class="services-card-sub mt-2">We work closely with companies to understand their hiring needs,
                        providing tailored solutions to attract and retain top talent </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card services-card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-2">
                        <div class="services-icon-circle text-center align-content-center"><img
                                src="../../assets/images/icon 1 (5).svg">
                        </div>
                    </div>
                    <div class="services-card-main mt-2">Staffing Expertise</div>
                    <div class="services-card-sub mt-2">We specialize in placing qualified professionals in a variety of
                        roles, from entry-level to executive positions </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blue-background-services pb-5">
    <div class="main-padding">
        <div class="row mt-5 gy-4">
            <div class="col-md-12 mt-3">
                <div class="services-text text-center">Technology Expertise to Meet Your Needs</div>
            </div>
        </div>
        <div class="row mt-4 technology-container">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" (click)="technologyCardScroll('software-card')">
                        <div class="technology-name-tab" [class.active]="activeTechnology=='software-card'">
                            <img class="me-3"
                                src="{{activeTechnology=='software-card' ? '../../../../assets/images/display-code-active.svg' :'../../../../assets/images/display-code.svg'}}"
                                width="32" height="32">
                            <div>Software</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('mobile-categories-card')">
                        <div class="technology-name-tab" [class.active]="activeTechnology=='mobile-categories-card'">
                            <img class="me-3"
                                src="{{activeTechnology=='mobile-categories-card' ? '../../../../assets/images/mobile-notch-active.svg' :'../../../../assets/images/mobile-notch.svg'}}"
                                width="32" height="32">
                            <div>Mobile
                                Categories</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('data-categories-card')">
                        <div class="technology-name-tab" [class.active]="activeTechnology=='data-categories-card'">
                            <img class="me-3"
                                src="{{activeTechnology=='data-categories-card' ? '../../../../assets/images/big-data-analytics-active.svg' :'../../../../assets/images/big-data-analytics.svg'}}"
                                width="32" height="32">
                            <div>Data
                                Categories</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('infrastructure-recruiting-expertise-card')">
                        <div class="technology-name-tab"
                            [class.active]="activeTechnology=='infrastructure-recruiting-expertise-card'">
                            <img class="me-3"
                                src="{{activeTechnology=='infrastructure-recruiting-expertise-card' ? '../../../../assets/images/system-cloud-active.svg' :'../../../../assets/images/system-cloud.svg'}}"
                                width="32" height="32">
                            <div>Infrastructure
                                Recruiting Expertise</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('functional-categories-card')">
                        <div class="technology-name-tab"
                            [class.active]="activeTechnology=='functional-categories-card'"> <img class="me-3"
                                src="{{activeTechnology=='functional-categories-card' ? '../../../../assets/images/lead-management-active.svg' :'../../../../assets/images/lead-management.svg'}}"
                                width="32" height="32">
                            <div>Functional
                                Categories</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('cybersecurity-categories-card')">
                        <div class="technology-name-tab"
                            [class.active]="activeTechnology=='cybersecurity-categories-card'">
                            <img class="me-3"
                                src="{{activeTechnology=='cybersecurity-categories-card' ? '../../../../assets/images/shield-check-active.svg' :'../../../../assets/images/shield-check.svg'}}"
                                width="32" height="32">
                            <div>Cybersecurity
                                Categories</div>
                        </div>
                    </div>
                    <div class="col-md-12" (click)="technologyCardScroll('product-ux-categories')">
                        <div class="technology-name-tab" [class.active]="activeTechnology=='product-ux-categories'">
                            <img class="me-3"
                                src="{{activeTechnology=='product-ux-categories' ? '../../../../assets/images/ux-browser-active.svg' :'../../../../assets/images/ux-browser.svg'}}"
                                width="32" height="32">
                            <div>Product
                                + UX
                                Categories</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row technology-list">
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="software-card">
                        <div class="card-body">
                            <div class="technology-card-main">Software</div>
                            <div class="technology-card-sub mt-3">FRONT END</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Angular</span>
                                <span class="technology-name">React</span>
                                <span class="technology-name">Vue.js</span>
                                <span class="technology-name">TypeScript</span>
                                <span class="technology-name">JavaScript</span>
                                <span class="technology-name">HTML</span>
                                <span class="technology-name">CSS</span>
                            </div>
                            <div class="technology-card-sub mt-3">BACK END</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">JAVA</span>
                                <span class="technology-name">.NET</span>
                                <span class="technology-name">Python</span>
                                <span class="technology-name">Ruby</span>
                                <span class="technology-name">PHP</span>
                                <span class="technology-name">Golang</span>
                                <span class="technology-name">Node</span>
                                <span class="technology-name">Scala</span>
                                <span class="technology-name">Elixir</span>
                                <span class="technology-name">Rust</span>
                                <span class="technology-name">Erlang</span>
                                <span class="technology-name">Clojure</span>
                                <span class="technology-name">C/C++</span>
                            </div>
                            <div class="technology-card-sub mt-3">QA</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">SDET</span>
                                <span class="technology-name">Automation</span>
                                <span class="technology-name">Manual</span>
                                <span class="technology-name">Verification & Validation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="mobile-categories-card">
                        <div class="card-body">
                            <div class="technology-card-main">Mobile Categories</div>
                            <div class="technology-card-sub mt-3">NATIVE IOS</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Objective-C</span>
                                <span class="technology-name">Swift</span>
                            </div>
                            <div class="technology-card-sub mt-3">OFFSITE INNOVATION FORUMS</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Java</span>
                                <span class="technology-name">Kotlin</span>
                                <span class="technology-name">Application</span>
                                <span class="technology-name">Framework</span>
                                <span class="technology-name">Systems</span>
                            </div>
                            <div class="technology-card-sub mt-3">CROSS PLATFORM</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">React Native</span>
                                <span class="technology-name">PhoneGap</span>
                                <span class="technology-name">Xamarin</span>
                                <span class="technology-name">Flutter</span>
                                <span class="technology-name">Ionic</span>
                                <span class="technology-name">Unity</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="data-categories-card">
                        <div class="card-body">
                            <div class="technology-card-main">Data Categories</div>
                            <div class="technology-card-sub mt-3">DATA SCIENCE</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Python</span>
                                <span class="technology-name">R</span>
                                <span class="technology-name">SQL</span>
                            </div>
                            <div class="technology-card-sub mt-3">DATA ENGINEERING</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Spark</span>
                                <span class="technology-name">Hadoop</span>
                                <span class="technology-name">MapReduce</span>
                                <span class="technology-name">Hive</span>
                                <span class="technology-name">Pig</span>
                                <span class="technology-name">Kafka</span>
                            </div>
                            <div class="technology-card-sub mt-3">MACHINE LEARNING / AI / COMPUTER VISION</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">TensorFlow</span>
                                <span class="technology-name">Caffe</span>
                                <span class="technology-name">Keras</span>
                                <span class="technology-name">Theano</span>
                                <span class="technology-name">PyTorch</span>
                                <span class="technology-name">Scikit-learn</span>
                                <span class="technology-name">OpenCV</span>
                                <span class="technology-name">MATLAB</span>
                                <span class="technology-name">CUDA</span>
                                <span class="technology-name">PCL</span>
                                <span class="technology-name">Dlib</span>
                            </div>
                            <div class="technology-card-sub mt-3">DATA ANALYTICS</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Business Intelligence</span>
                                <span class="technology-name">Data Visualization</span>
                                <span class="technology-name">ETL</span>
                                <span class="technology-name">Data Warehousing</span>
                            </div>
                            <div class="technology-card-sub mt-3">DATABASE</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">NoSQL</span>
                                <span class="technology-name">MySQL</span>
                                <span class="technology-name">PostgreSQL</span>
                                <span class="technology-name">SQL</span>
                                <span class="technology-name">Oracle</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="infrastructure-recruiting-expertise-card">
                        <div class="card-body">
                            <div class="technology-card-main">Infrastructure Recruiting Expertise</div>
                            <div class="technology-card-sub mt-3">NETWORK ENGINEERING</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Cisco</span>
                                <span class="technology-name">Juniper</span>
                                <span class="technology-name">VPN</span>
                            </div>
                            <div class="technology-card-sub mt-3">CLOUD</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">AWS</span>
                                <span class="technology-name">GCP</span>
                                <span class="technology-name">Azure</span>
                            </div>
                            <div class="technology-card-sub mt-3">DEVOPS / SRE</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">CI/CD</span>
                                <span class="technology-name">Orchestration</span>
                                <span class="technology-name">Containerization</span>
                                <span class="technology-name">Configuration</span>
                                <span class="technology-name">Build & Release</span>
                            </div>
                            <div class="technology-card-sub mt-3">SYSTEM ADMINISTRATION</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Linux</span>
                                <span class="technology-name">Windows</span>
                                <span class="technology-name">Virtualization</span>
                            </div>
                            <div class="technology-card-sub mt-3">HELP DESK / SUPPORT</div>
                            <div class="mt-2 d-flex flex-wrap gap-2">
                                <span class="technology-name">Jira</span>
                                <span class="technology-name">Windows</span>
                                <span class="technology-name">MacOS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="functional-categories-card">
                        <div class="card-body">
                            <div class="technology-card-main">Functional Categories</div>
                            <div class="technology-card-sub mt-3">PROJECT MANAGER</div>
                            <div class="technology-card-sub mt-3">PROGRAM MANAGER</div>
                            <div class="technology-card-sub mt-3">BUSINESS ANALYST</div>
                            <div class="technology-card-sub mt-3">SCRUM MASTER</div>
                            <div class="technology-card-sub mt-3">TECHNICAL WRITER</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="cybersecurity-categories-card">
                        <div class="card-body">
                            <div class="technology-card-main">Cybersecurity Categories</div>
                            <div class="technology-card-sub mt-3">CLOUD SECURITY</div>
                            <div class="technology-card-sub mt-3">APPLICATION SECURITY</div>
                            <div class="technology-card-sub mt-3">NETWORK SECURITY</div>
                            <div class="technology-card-sub mt-3">INFRASTRUCTURE SECURITY</div>
                            <div class="technology-card-sub mt-3">DEVSECOPS</div>
                            <div class="technology-card-sub mt-3">ENTERPRISE GOVERNANCE</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card p-3 technology-card-height" id="product-ux-categories">
                        <div class="card-body">
                            <div class="technology-card-main">Product + UX Categories</div>
                            <div class="technology-card-sub mt-3">UI/UX</div>
                            <div class="technology-card-sub mt-3">VISUAL DESIGN</div>
                            <div class="technology-card-sub mt-3">INTERACTION DESIGN</div>
                            <div class="technology-card-sub mt-3">USER RESEARCH</div>
                            <div class="technology-card-sub mt-3">CREATIVE / ART DIRECTOR</div>
                            <div class="technology-card-sub mt-3">PRODUCT MANAGER</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dream-job">
    <div class="row mt-5 gy-4">
        <div class="col-md-12 mt-3">
            <div class="services-text text-center intellectisolutions">Find Your Dream Job with intellectisolutions
            </div>
        </div>
    </div>
    <!-- <div class="dream-job-container"> -->
    <div class="container py-5">
        <div class="dream-job-card-container">
            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">JOB SEARCH</div>
                    <div class="dream-job-card-description">
                        Search for job opportunities that match your skills and experience. Our platform has a wide
                        range of job listings from various industries. We make it easy for you to find your dream
                        job.
                    </div>
                </div>
            </div>

            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">RESUME BUILDER</div>
                    <div class="dream-job-card-description">
                        Create a professional resume with our easy-to-use resume builder. Our templates are designed
                        by
                        industry experts and will help you stand out from other job applicants. Start building your
                        resume now.
                    </div>
                </div>
            </div>

            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">CAREER ADVICE</div>
                    <div class="dream-job-card-description">
                        Get expert career advice from our team of experienced career counselors. We offer
                        personalized
                        advice to help you make the right career choices and succeed in your career.
                    </div>
                </div>
            </div>

            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">INTERVIEW PREP</div>
                    <div class="dream-job-card-description">
                        Prepare for your job interview with our interview prep resources. We provide sample
                        interview
                        questions, tips on how to answer them, and advice on how to make a great impression on your
                        interviewer.
                    </div>
                </div>
            </div>

            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">SALARY ESTIMATOR</div>
                    <div class="dream-job-card-description">
                        Find out how much you should be earning in your industry and location with our salary
                        estimator
                        tool. We use real-time data to give you accurate salary estimates for your job.
                    </div>
                </div>
            </div>

            <div class="dream-job-expand-card">
                <div class="dream-job-card-content">
                    <div class="dream-job-card-title">JOB ALERTS</div>
                    <div class="dream-job-card-description">
                        Sign up for job alerts and get notified when new job listings that match your skills and
                        experience are posted. Never miss an opportunity to apply for your dream job.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<div class="our-process">
    <div class="row mt-5 gy-4">
        <div class="col-md-12 mt-3">
            <div class="services-text text-center">Our Process</div>
        </div>
    </div>
    <img class="responsive w-100" src="../../assets/images/our process whole.svg">
</div>