$dark-blue: #1B3B7C;
$light-blue: #8CB9F8;
$dark-text-color: #343434;
$white-color: #fff;
$nav-link-color: #1A3F74;
$grey-text: #8A8A8A;
$dark-grey-text: #676767;
$footer-color: #011339;
$black-color: #343434;