<div class="row main-padding pb-3 home-bg pe-0">
    <div class="col-md-5 align-content-center">
        <div class="home-text">Transforming Business,</div>
        <div class="home-text">Empowering Talent
            <!-- <span class="typewriter">{{ displayText }}</span> -->
        </div>
        <div class="home-text-sub mt-4">
            Helping organizations innovate through technology consulting and specialized talent solutions.
        </div>
        <div class="align-content-center home-talent-btn mt-4 text-center" (click)="goToServices()">Let's Transform
            Together
        </div>
    </div>
    <div class="col-md-7">
        <img class="responsive" style="width: -webkit-fill-available;" src="../../assets/images/home-bg-image.svg">
    </div>
</div>