<div class="row main-padding pb-3 home-bg pe-0">
    <div class="col-md-5 align-content-center">
        <div class="home-text">Connecting Talent,</div>
        <div class="home-text">Creating <span class="typewriter">{{ displayText }}</span></div>
        <div class="home-text-sub mt-4">
            Your partner in finding top IT professionals quickly.<br>
            We deliver the right tech talent, right on time.
        </div>
        <div class="align-content-center home-talent-btn mt-4 text-center" (click)="goToServices()">Find Your Talent
        </div>
    </div>
    <div class="col-md-7">
        <img class="responsive" src="../../assets/images/home-bg-image.svg">
    </div>
</div>